PROJECT_NAME="my-project"

CORS_ALLOWED_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]

JWT_SECRET_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
JWT_ACCESS_TOKEN_EXPIRES_SECONDS=36000
JWT_COOKIE_DOMAIN="127.0.0.1"

RABBIT_URL="amqp://guest:guest@rabbitmq:5672/"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=postgres

POSTGRES_URL_SERV_AUTH="postgresql+asyncpg://postgres:admin@postgres:5432/postgres"
POSTGRES_URL_SERV_ORDER="postgresql+asyncpg://postgres:admin@localpostgreshost:5432/postgres"
POSTGRES_URL_SERV_CATALOG="postgresql+asyncpg://postgres:admin@postgres:5432/postgres"
POSTGRES_URL_SERV_PAYMENT="postgresql+asyncpg://postgres:admin@postgres:5432/postgres"
POSTGRES_URL_SERV_NOTIFICATION="postgresql+asyncpg://postgres:admin@postgres:5432/postgres"

ADMIN_PANEL_USER="admin"
ADMIN_PANEL_PASSWORD="qwerty"